.class_slide{
    align-items:center;
    justify-content:center;

}
.slider{
    height:100;
    margin:auto;
    overflow:hidden;
    position:relative;
    width:auto;

}
.slider .slide-track{
    animation:scroll 40s linear infinite;
    display:flex;
    width:calc(250*14)
}